

<!-- User Sign up container -->
<div id="" class="reset-password-container animate__animated animate__faster">

    <div class="welcome-div">
        <img src="" alt="">
        <p>Reset your password <i class="fa-solid fa-arrow-right"></i></p>
    </div>

    <!-- Sign Up Form -->
    <form action='/users/password-reset/<%= userId %>/<%= token %>' method="post">
        
        <div class="input-with-icon">
            <i class="fa-solid fa-key"></i>
            <input id="pass-input" type="password" name="password" placeholder="Password" minlength="8"  required>
            <i class="fa-solid fa-eye " id="toggle-password"></i>
        </div>

        <div class="input-with-icon">
            <i class="fa-solid fa-key"></i>
            <input id="pass-input" type="password" name="confirm_password" placeholder="Confirm Password" minlength="8"  required>
            <i class="fa-solid fa-eye animate__animated animate__faster" id="toggle-password"></i>
        </div>
        
        <button id="submit-button" type="submit">Confirm </button>
    </form>

    

</div>



